#ordina{

}

#ordina a img{
    border:none;
}
#ordina img{
    border:none;
}

#ordina h1{
    font-size:1.6em;
}

#ordina h2{
    font-size:1.4em;
    background: url('../img/ordina.png') no-repeat top right;
    border-bottom:1px solid #555;
    padding-bottom:10px;
    text-align:left;
    margin-bottom:30px;
}

#ordina ul,
#ordina ol{
    display:block;
    margin-left:50px;
}

#ordina ul li,
#ordina ol li{
    margin-bottom:10px;
    font-size:0.9em;
}

#ordina ol{
    list-style:lower-alpha;
}

#ordina ol li::marker{
    color: #dddddd;
}

#ordina p{
    font-size:0.9em;
}

#ordina #start img{
    margin-bottom:20px;
}

#ordina .emphasize{
    padding:40px 0;
    font-style:italic;
    font-size:1.7em;
}

#ordina .emphasize h3,
#ordina .emphasize p{
    font-style:italic;
}
#ordina .emphasize img{
    background:none;
    box-shadow:none;
    width:60%;
    display:block;
    margin:75px auto;
}

#ordina pre{
    background:none;
    box-shadow:none;
}
#ordina code{
    padding:15px;
    font-size:1.2em;
}

#ordina pre code{
    max-height: none;
}

#thanks{
    height:200px;
    display:block;
    margin:0 auto;
}

#thanks img{
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.table-full {
    width: 100%;
}

.table-full td {
    font-size: 30px;
    width: 50%;
}

#ordina .table-full ul,
#ordina .table-full ol {
    margin: 30px 0 0 30px;
}